import React from 'react'; import './{{camelCase name}}.css'; function
{{pascalCase name}}() { return (
<div className="{{camelCase name}}-container">
  <h1>{{pascalCase name}} Feature</h1>
</div>
); } export default
{{pascalCase name}};